*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Nuclear_SRC/debf975769fe2875bf37d33b487a32cd.jpeg);
    background-repeat: no-repeat;
    background-size: 100% ;
}

.container-1{
    height: 100px;
    display: flex;
    align-items: center;

}

.main-content-1{
    display: flex;
    padding: 15px;
    gap: 500px;
}
.head-1{
    display: flex;
    margin-left: 49px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.head-1 nav a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid black;
    padding-bottom: 5px;

}
.head-2{
    display: flex;
    justify-content: center;
}
.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    margin-bottom: 20px;
}
.main-content-2{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 7px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    transform: 0.2s;
    border-radius: 15px;
}
.main-content-2:hover{
    border: 7px black solid;
    color: rgb(39, 112, 10);
}
.head-2{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-radius: 7px;
    transform: 0.3s;
}
.head-2:hover{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: solid 2px green;
    border-right: solid 2px green;
}
.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: none;
    background-color: black;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 150px;
    width: 400px;
}
.container-3 .main-content-5 h1 strong{
    color: white; 
    cursor: pointer;
    font-size: 40px;
    transform: 0.3s;
}


.container-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    border: 4px solid white;
    height: 150px;
}
.container-4 .main-content-3 p strong{
    font-size: 23px;
    color: white;
}
.e-mail-1{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.main-content-4{
    display: block; 
}
.main-content-4 p{
    padding: 10px;
    font-size: 18px;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    width: 300px;
    margin-left: 800px;
}
.footer-container p{
    font-size: 12px;
    color: white;
}